* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium',sans-serif;

}



body {
    background-color: black;
    height: 100vh;
}
.header {
    padding: 40px 4%;

}


.interface {
    max-width: 1200px;
    margin: 0 auto;


}
.logo {
    padding: 80px 0;
    margin-top: 70px;
    object-fit: cover;

}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;

}
.container .imagem-wrapper {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;


}
.imagem-wrapper {
    margin-right: 20px;
    flex-shrink: 0;
    border-radius: 50%;

}

.container h1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    
    

}


.texto-wrapper {
    flex-grow: 1;
    color: white;
    text-align: justify;


}
.texto-wrapper p {
    margin-bottom: 10px;



}



h1 {
    color: white;
    text-align: center;
    display: inline-block;
    

}
h2 {
    color: white;
    text-align: center;
    display: inline-block;

}